* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;

    width: 100vw;
    height: 100vh;

    background-color: #09090A;
    color: white;
}

.title h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 125%;
}